html {
  background: #ffffffaa;
  color: #02002dda;
  font-family: "Arial", sans-serif;
}

body {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.accordion {
  display: grid;
  gap: 10px;
}

.description {
  display: none;
}

.title {
  background-color: #4657b9;
  font-weight: bold;
  color: #000000eb;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.title:hover {
  background-color: #3347b6;
}

.description {
  padding: 15px;
  background-color: #ffffffc4;
}

.description p {
  margin: 0;
}

.active + .description {
  display: block;
  width: 600px;
  word-wrap: break-word;
  padding: 5px;
}

.title::before {
  content: "+";
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s ease;
  font-size: 30px;
}

.title.active::before {
  content: "-";
}
